<ion-header *ngIf="navParams" class="ion-no-border">
  <header class="flex p-4 items-center justify-between" style="display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 12px;">
    <div class="flex items-center" style="display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;">
      <img src="../../assets/patient-1.png" width="50px" />
      <h3 class="text-sm m-0 ml-2" style="padding-left: 5px;">
        <!-- <span class="text-xs">Welcome</span>, -->
        <span><b> {{navParams.data[0].dockName}}</b></span>
      </h3>
    </div>
    <!-- <div>
      <ion-icon class="text-lg" name="notifications-outline"></ion-icon>
    </div> -->
  </header>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="wrapper-grad">
    <div *ngIf="fishermanList">
      <ion-refresher spellcheck="z-index:9999" slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200"
        (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <div>
        <ion-searchbar class="p-0" color="medium" style="--border-radius: 20px !important; --box-shadow: none"
          (ionInput)="queryAcronyms($event)"></ion-searchbar>
        <div *ngIf="queryF==false">
          <div *ngFor="let fsman of fishermanList; let in=index">
            <ion-card color="primary">
              <ion-card-header>
                <ion-card-subtitle> {{fsman.name}}
                  <span> ({{fsman.id}}) </span>
                </ion-card-subtitle>
                <!-- <ion-card-subtitle> {{currentUserName}} </ion-card-subtitle> -->
              </ion-card-header>
              <ion-card-content>
                <div>
                  Contact no. :- <a style="color:#fff" href="tel:{{fsman.contactNum}}">{{fsman.contactNum}}</a>
                </div>
                <div>
                  <ion-button color="secondary" (click)="generateqr(fsman)">QR</ion-button>
                </div>
              </ion-card-content>
            </ion-card>
          </div>
        </div>
        <div *ngIf="queryF==true">
          <div *ngFor="let fsman of fshman; let in=index">
            <ion-card color="primary">
              <ion-card-header>
                <ion-card-subtitle> {{fsman.name}}
                  <span> ({{fsman.id}}) </span>
                </ion-card-subtitle>
                <!-- <ion-card-subtitle> {{currentUserName}} </ion-card-subtitle> -->
              </ion-card-header>
              <ion-card-content>
                <div>
                  Contact no. :- <a style="color:#fff" href="tel:{{fsman.contactNum}}">{{fsman.contactNum}}</a>
                </div>
                <div>
                  <ion-button color="secondary" (click)="generateqr(fsman)">QR</ion-button>
                </div>
              </ion-card-content>
            </ion-card>
          </div>
        </div>
      </div>
    </div>
    <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
  </div>

</ion-content>