<ion-header>
  <ion-toolbar>
    <ion-title>Add Items</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="fisherman">
  <div class="fisherman">
    <img src="../../assets/patient-1.png" width="150px" />
    <h2>{{fisherman.name}}</h2>
    <h4>#<span>{{fisherman.id}}</span></h4>
  </div>

  <div>
    <div class="grid-container" style="border-bottom: 1px solid;">
      <div class="grid-item">
        <span></span>
      </div>
      <div class="item-grid">
        Name
      </div>
      <div class="item-grid">
        Quantity
      </div>
      <div class="item-grid">
        Rate
      </div>
    </div>
    <form #form="ngForm" (ngSubmit)="saveData(form)">
      <ion-card *ngFor="let waste of tmp;let i=index">
        <ion-card-content>
          <div class="grid-container">
            <div class="grid-item">
              <img src="../../assets/patient-1.png" width="25px" />
            </div>
            <div class="item-grid" style="padding-left: 5px;">
              {{waste.name}}
            </div>
            <div class="item-grid">
              <ion-input style="margin-bottom: 5px;" name="weight" type="number" placeholder="Weight"
                (ionChange)="chngeweight($event,i)" required>
              </ion-input>
              <!-- <ion-input style="margin-bottom: 5px;" [value]="weight" type="number" placeholder="Weight"
                (input)="weight=$event.target.value" ng-init="weight=1" required>
              </ion-input> -->
            </div>
            <div class="item-grid">
              <ion-input style="margin-bottom: 5px;" name="rate" type="number" placeholder="Rate"
                (ionChange)="chngerate($event,i)" required>
              </ion-input>
              <!-- <ion-input style="margin-bottom: 5px;" [value]="rate" type="number" placeholder="Rate" (input)="rate=$event.target.value"
                ng-init="rate=2" required>
              </ion-input> -->

            </div>
          </div>
          <div>
            Total = {{waste.total}}
            <!-- Total = {{waste.weight* waste.rate}} -->
          </div>
        </ion-card-content>
      </ion-card>
      <ion-button mode="ios" color="primary" size="medium" type="submit" [disabled]="form.invalid" expand="block">
        Save
      </ion-button>
    </form>

  </div>
</ion-content>

<!--
   
-->